@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

h1{
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 80px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item{
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 30px;
}

h2{
    font-style: italic;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
}

p{
    font-style: inherit;
    font-size: 20px;
    color: rgb(0, 0, 255);
}

button{
    background-color:black;
    color: white;
    padding: 10px 16px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color:cornflowerblue;
    color: black ;
}



    